body {
  background-image: url("../assets/pokemon-bg.jpg");
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: cover;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.profile {
  display: block;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: aliceblue;
  border-radius: 30px;
  padding-top: 2%;
  height: 300px;
  width: 300px;
}
.profile::-webkit-scrollbar {
  display: none;
}

img {
  border-radius: 50%;
}
